<div class="container body">
  <div class=" jumbotron">

    <div class="text text-center heading">
      Shopping List App
    </div>

    <div class="nav-container">
      <ul class="nav nav-pills">
        <li role="presentation" >
          <a routerLink="">Home</a>
        </li>
        <li role="presentation" class="active">
          <a routerLink="about">About</a>
        </li>
      </ul>

    </div>

  </div>

  <div class="container cont2">
    <h2 class="text text-center">get in touch @: dikeleon@gmail.com</h2>
    <h2 class="text text-center">also try @: dikeleon@outlook.com</h2>
    <h2 class="text text-center">Cell @: <ul style="list-style:none;">
      <li>+263716461888</li>
      <li>+263773850460</li>
    </ul></h2>
  </div>

</div>

